<div class="edit">
<h3> Edit this Haiku </h3>
<form class='form-group'>
  <div class='input-group'>
  {{input placeholder='Title (optional)' class='form-control' value=poem.title}}
  {{input required=true placeholder='first line' class='form-control' value=poem.firstline}}
  {{input required=true placeholder='second line' class='form-control' value=poem.secondline}}
  {{input required=true placeholder='third line' class='form-control' value=poem.thirdline}}
<div class='input-group-btn'>
<button type='submit' class="btn btn-primary" {{action 'edit' on="click"}}>
  Submit
</button>
{{!-- <button type='submit' class="btn btn-primary" {{action 'cancel' on="click"}}>
  Cancel
</button> --}}
</div>
</div>
</form>

<button type='submit' class="btn btn-primary" {{action 'cancel' on="click"}}>
  Back to Poems
</button>
</div>
