<div class="edit">
<h3> Edit this Haiku </h3>
<form class='form-group'>
  <div class='input-group'>
  {{input placeholder='Title (optional)' class='form-control' value=pastPoem.title}}
  {{input required=true placeholder='first line' class='form-control' value=pastPoem.firstline}}
  <button type='submit' class="btn btn-primary" {{action 'dataLine1' on="click"}}> Get Syllables Count for this line </button>
  {{input required=true placeholder='second line' class='form-control' value=pastPoem.secondline}}
  <button type='submit' class="btn btn-primary" {{action 'dataLine1' on="click"}}> Get Syllables Count for this line </button>
  {{input required=true placeholder='third line' class='form-control' value=pastPoem.thirdline}}
  <button type='submit' class="btn btn-primary" {{action 'dataLine1' on="click"}}> Get Syllables Count for this line </button>
<div class='input-group-btn' {{action 'edit' on='submit'}}>
<button type='submit' class="btn btn-primary" {{action 'edit' on="click"}}>
  Submit
</button>
</div>
</div>
</form>

<button type='submit' class="btn btn-primary" {{action 'cancel' on="click"}}>
  Back to Poems
</button>
</div>
