<div class="create">
<h2>Write a new Haiku</h2>
<form class='form-group'> <div class='input-group'> {{input placeholder='Title' class='form-control' value=newPoem.title}}
{{input placeholder='First Line' class='form-control' value=newPoem.firstline}}
{{input placeholder='Second Line' class='form-control' value=newPoem.secondline}}
{{input placeholder='Third Line' class='form-control' value=newPoem.thirdline}}
<div class='input-group-btn'>
<button type='submit' class="btn btn-primary" {{action 'submit'}}>
  Submit
</button>
</div>
</div>
</form>
</div>
