<div class='picture'>
  <h3><span class='nature'>Need inspiration? Get a nature theme</span></h3>
  <br>
  <h4><span class='nature'>
    <a type='submit' class="btn-outline-primary" {{action 'getPicture' on="click"}}> Get new picture </a>&nbsp;&nbsp;<a type='submit' class="btn-outline-primary" {{action 'getTheme' on="click"}}> Get new theme </a> &nbsp;<span class='theme'></span></span></h4>
    <br>
</div>

<div class='row wrap'>

<div class="col-sm-3 syllables">
  <h3>Syllables Count</h3>
  <h5>Individuals Words:</h5>
  <div class='sword'></div>
  <h5>Whole Line</h5>
  <div class='scount'></div>
</div>

<div class="col-sm-1"> </div>

<div class="col-sm-8 create">
<h2>Write a new Haiku</h2>
<form class='form-group'> <div class='input-group'> {{input placeholder='Optional Title' class='form-control' value=newPoem.title}}
  <p> Traditionally, a haiku does not have a title</p>
{{input placeholder='First Line' class='form-control' value=newPoem.firstline}}
<p> First line is often 5 syllables
  <button type='submit' class="btn btn-secondary" {{action 'dataLine1' on="click"}}> Count Syllables </button></p>
{{input placeholder='Second Line' class='form-control' value=newPoem.secondline}}
<p> Second line is often 7 syllables
  <button type='submit' class="btn btn-secondary" {{action 'dataLine2' on="click"}}> Count Syllables </button></p>
{{input placeholder='Third Line' class='form-control' value=newPoem.thirdline}}
  <p> Third line is often 5 syllables
<button type='submit' class="btn btn-secondary" {{action 'dataLine3' on="click"}}> Count Syllables </button></p>
<div class='input-group-btn'>
<button type='submit' class="btn btn-primary" {{action 'submit'}}>
  Submit
</button>
</div>
</div>
</form>
</div>

</div>
